{{ $listPage := . }}
{{ $blogSection := .Site.GetPage "section" "blogs" }}
{{ with $blogSection }}
  {{ $tag := index .Site.Taxonomies.tags $listPage.Params.id }}
  {{ with $tag }}
  <h3>Related blog posts</h3>
    {{ range .Pages }}
      <div class="mt-3 grid">
        <div class="g-col-12 g-col-sm-12 g-col-md-3">
          <a href="{{.Permalink}}">
          <img src="https://placehold.co/600x400" class="img-thumbnail" alt="...">
          </a>
        </div>
        <div class="g-col-12 g-col-sm-12 g-col-md-9">
          <div class="">
            <h5 class="">{{ .Title }}</h5>
            <p class="">{{ .Summary | truncate 150 "..." }}  <a href="{{.Permalink}}">Read more</a></p>
            <p class=""><small class="text-body-secondary">Publish date {{ .Lastmod.Format "2006-01-02" }}</small></p>
          </div>
        </div>
      </div>
    {{ end }}
  {{ end }}
{{ end }}