<footer class="footer nav-sidebar dvp-container mt-auto bg-dark py-3">
    <div class="dvp-body">
        <div class="d-flex flex-wrap justify-content-between">
        <ul class="nav text-start">
            {{ range .Site.Menus.footer }}
            <li class="nav-item">
            <a class="nav-link " href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
            </li>
            {{ end }}  
        </ul>
        <a class="btn btn-outline-light" href="mailto:ipda@unhcr.org?subject=Mail from Dataviz Platform" role="button">Contact
            us</a>
        </div>
        <p class="text-muted px-3"><small>&copy; UNHCR <span id="js-year"></span><noscript>{{ now.Format "2006" }}</noscript></small></p>
    </div>
</footer>

<!-- Dynamic copyright date -->
<script>
    document.getElementById("js-year").innerHTML = new Date().getFullYear();
</script>