{{ define "main" }}
<main>
    <section class="dvp-container banner py-5">
        <div class="dvp-body py-5">
        <div class="pb-5">
            <div class="grid align-items-center gx-5 gy-4">
                <div class="g-col-12 g-col-sm-8 g-col-md-6 order-2 order-sm-1">
                    <h1 class="display-4 text-primary">Curated data</h1>
                    <p class="fs-4" data-aos-easing="ease" data-aos-delay="400">The United Nations High Commissioner for Refugees (UNHCR) aims to be the world’s leading source of information on refugees and other forcibly displaced and stateless people. UNHCR manages numerous curated data sources for supporting evidence-informed decision making on behalf of these populations.  </p>
                </div>
                <div class="g-col-12 g-col-sm-4 g-col-md-6 order-sm-2 offset-3 offset-sm-0">
                    <img src="img/currated_data_cover.svg" alt="" ,="" title="General guidance" class="img-fluid">
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="dvp-container py-5 bg-light">
        <div class="dvp-body py-5">
        <div class="py-3">
            <div class="grid align-items-center gx-5 gy-4">
                <div class="g-col-12 g-col-md-6 order-md-1">
                    <h2>Foundational datasets</h2>
                    <hr class="short-hr mx-0">
                    <p>UNHCR manages several important global data sets which are important for nearly any analysis concerning refugees and other forcibly displaced and stateless people. These foundational datasets are the building blocks on which all operational planning is based.  </p>
                    <a class="btn btn-primary" href="foundational-datasets/" role="button">See more</a>
                </div>
                <div class="g-col-12 g-col-md-6 order-md-2" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-once="false">
                    <img src="img/foundational.svg" alt="Foundational datasets" ,="" title="" class="img-fluid">
                </div>

            </div>
        </div>
        </div>
    </section>
    <section class="dvp-container py-5">
        <div class="dvp-body py-5">
        <div class="py-3">
            <div class="grid align-items-center gx-5 gy-4">
                <div class="g-col-12 g-col-md-6 order-md-2">
                    <h2>Thematic datasets</h2>
                    <hr class="short-hr mx-0">
                    <p>UNHCR manages several global datasets on specific themes or sectors.  These are important resources for those looking to do regional or global analysis on refugees and other forcibly displaced and stateless people.  </p>
                    <a class="btn btn-primary" href="thematic-datasets/" role="button">See more</a>
                </div>
                <div class="g-col-12 g-col-md-6 order-md-1" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-once="false">
                    <img src="img/thematic.svg" alt="Thematic datasets" ,="" title="" class="img-fluid">
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="dvp-container py-5 bg-light">
        <div class="dvp-body py-5">
        <div class="py-3">
            <div class="grid align-items-center gx-5 gy-4">
                <div class="g-col-12 g-col-md-6">
                    <h2>Targeted datasets</h2>
                    <hr class="short-hr mx-0">
                    <p>UNHCR operates around the world, collecting data on specific populations, in specific places, and for specific purposes.  There are data sources which can help you find the specific data you need.  </p>
                    <a class="btn btn-primary" href="targeted-datasets/" role="button">See more</a>
                </div>
                <div class="g-col-12 g-col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-once="false">
                    <img src="img/targeted.svg" alt="Targeted datasets" ,="" title="" class="img-fluid">
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
{{ end }}