{{ define "main" }}
<main>
    <section class="dvp-container banner py-5">
        <div class="dvp-body">
        <div class="pb-5">
            <div class="grid align-items-center gx-5 gy-4">
                <div class="g-col-12 g-col-sm-8 g-col-md-6 order-2 order-sm-1">
                    <h1 class="display-4 text-primary">Curated data</h1>
                    <p class="fs-4" data-aos-easing="ease" data-aos-delay="400">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="g-col-12 g-col-sm-4 g-col-md-6 order-sm-2 offset-3 offset-sm-0">
                    <img src="img/currated_data_cover.svg" alt="General guidance illustration at the home page" ,="" title="General guidance" class="img-fluid">
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="dvp-container py-5 bg-light">
        <div class="dvp-body">
        <div class="py-3">
            <div class="grid align-items-center gx-5 gy-4">
                <div class="g-col-12 g-col-md-6 order-md-1">
                    <h2>Foundational datasets</h2>
                    <hr class="short-hr mx-0">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <a class="btn btn-primary" href="foundational-datasets/" role="button">See more</a>
                </div>
                <div class="g-col-12 g-col-md-6 order-md-2" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-once="true">
                    <img src="https://placehold.co/600x400" alt="General guidance illustration at the home page" ,="" title="General guidance" class="img-fluid">
                </div>

            </div>
        </div>
        </div>
    </section>
    <section class="dvp-container py-5">
        <div class="dvp-body">
        <div class="py-3">
            <div class="grid align-items-center gx-5 gy-4">
                <div class="g-col-12 g-col-md-6 order-md-2">
                    <h2>Thematic datasets</h2>
                    <hr class="short-hr mx-0">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <a class="btn btn-primary" href="thematic-datasets/" role="button">See more</a>
                </div>
                <div class="g-col-12 g-col-md-6 order-md-1" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-once="true">
                    <img src="https://placehold.co/600x400" alt="Chart gallery illustration at the home page" ,="" title="Chart Gallery" class="img-fluid">
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="dvp-container py-5 bg-light">
        <div class="dvp-body">
        <div class="py-3">
            <div class="grid align-items-center gx-5 gy-4">
                <div class="g-col-12 g-col-md-6">
                    <h2>Targeted datasets</h2>
                    <hr class="short-hr mx-0">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <a class="btn btn-primary" href="targeted-datasets/" role="button">See more</a>
                </div>
                <div class="g-col-12 g-col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-once="true">
                    <img src="https://placehold.co/600x400" alt="Tools illustration at the home page" ,="" title="Tools" class="img-fluid">
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
{{ end }}